name: Security audit
on:
  push:
    paths: 
      - '**/Cargo.toml'
      - '**/Cargo.lock'
jobs:
  security_audit:
    runs-on: ubuntu-latest
    steps:
            - name: Checkout repository
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

            - name: Install cargo-audit
              uses: actions-rs/install@v0.1.2
              with:
                  crate: cargo-audit
                  version: latest

            - name: Audit
              # TEMP: Ignore the time/chrono segfault CVEs since there are no known
              # good workarounds, and we want logs etc to be in local time.
              run: cargo audit --ignore RUSTSEC-2020-0159 --ignore RUSTSEC-2020-0071